.pictureContainer {
   width: 900px;
   height: 276px;
   margin-left: 100px;
   margin-top: 400px;
}

.pictureWrapper {
  display: flex;
  width: 80%;
  height: 200px;
  padding: 20px;
  padding-bottom: 50px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.popdishText {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: 30px;
  align-self: end;
}

.popDish{
  margin-left: 35px;
  grid-column-start: 1;
  grid-column-end: 1;
   grid-column: 1 / span 2;
  align-self: end;
  font-family: Open Sans;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  color: #2b273c;
  font-weight: 800;
  font-size: 20px;
}

.fullMenu {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-column: 5 / span 2;
  align-self: end;
  font-family: Open Sans;
  margin-left: 80px;
}

 #slideL {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: x-large;
  margin-right: 2px;
}
#slideR {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: x-large;
  margin-right: 2px;
}